.title-image img{
	vertical-align: middle;
  margin-right: 10px;
}
.title-image span{
	vertical-align: middle;
  font-weight: 700;
}
.title-image span:hover{
  color:#ff6360;
}

blockquote{
  font-size: small;
}

.nav-footer {
  position: static;
  bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
